@import url("https://use.typekit.net/amb7lhn.css");

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  background-color: black;
}

main {
  background: black;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  color: #e2e2e2;

  // <!-- ————————————————————————————————————o General -->
  * {
    box-sizing: border-box;
  }

  br {
    display: block;
  }

  hr {
    display: none;
    width: 85%;
    margin: 15px auto;
    border-color: darkgray;
  }

  img {
    display: block !important;
    width: 100%;
  }

  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    border: none;

    &:hover {
      color: #03c1c8;
    }
  }

  h1 {
    font-family: orbitron, sans-serif;
    font-size: 36px;
    font-weight: 500;
  }

  h2 {
    font-family: orbitron, sans-serif;
    font-size: 30px;
    font-weight: 300;
  }

  h3 {
    font-size: 25px;
    font-weight: 300;
  }

  p {
    max-width: 530px;
    margin: 10px auto;
    // font-family: orbitron, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
  }

  // <!-- ————————————————————————————————————o Hero -->
  .hero {
    width: 90%;
    margin: 0 auto 80px;
  }

  .mob--disclaimer {
    display: none;
    line-height: 1.4;
  }

  // .info {
  //   width: 70%;
  // }

  // <!-- ————————————————————————————————————o Slick -->
  .slick-slider {
    margin-bottom: 200px;
  }

  .slick-dots {
    bottom: -35px;

    li button:before {
      font-size: 20px;
      color: white;
    }

    li.slick-active button:before {
      color: white;
    }
  }

  // <!-- ————————————————————————————————————o mobile -->
  // <!-- ————————————————————————————————————o  -->
  @media only screen and (max-width: 500px) {
    br {
      display: none;
    }

    img {
      width: 100vw;
    }

    h2 {
      margin-bottom: -10px;
      font-size: 29px;
    }

    // p {
    //   margin-bottom: 15px;
    // }

    hr {
      display: block;
    }

    .hero {
      margin-bottom: 50px;
    }

    // .info {
    //   &--nomob {
    //     display: none;
    //   }
    // }

    .mob--disclaimer {
      display: block;
    }

    .slick-slider {
      margin-bottom: 200px;
    }

    .slick-list {
      top: 30px;
      width: 174vw;
    }

    .slick-dots {
      bottom: -70px;
    }
  }
}
